body{
    background-color: black;
}

div.container{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height:300px;
    width:300px;
}